<mat-card style="width: 60%; margin: 50px auto; display: flex; gap: 20px; flex-wrap: wrap; justify-content: center;">
  <mat-card-header>
    <mat-card-title>User Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="isEditing" style="display: flex; flex-direction: column; gap: 20px; margin: 20px auto;">
      <mat-form-field>
        <input matInput [(ngModel)]="userData.username" placeholder="Username" name="username" required readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.name" placeholder="Name" name="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.email" placeholder="Email" name="email" type="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.birthday" placeholder="Birthday" name="birthday" type="date">
      </mat-form-field>
      <button mat-raised-button (click)="editUser()" color="primary">Save Changes</button>
      <button mat-raised-button (click)="isEditing = false" color="warn">Cancel</button>
    </form>

    <div *ngIf="!isEditing">
      <p><strong>Username:</strong> {{userData.username}}</p>
      <p><strong>Name:</strong> {{userData.name}}</p>
      <p><strong>Email:</strong> {{userData.email}}</p>
      <p><strong>Birthday:</strong> {{userData.birthday}}</p>
      <button mat-raised-button (click)="isEditing = true" color="primary">Edit Profile</button>
      <button mat-raised-button (click)="deleteUser()" color="warn">Delete Account</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card
  style="width: 60%; margin: 50px auto; display: flex; gap: 20px; flex-direction: column; justify-content: center;">
  <mat-card-header>
    <mat-card-title style="justify-content:flex-start;">Favorite Movies</mat-card-title>
  </mat-card-header>
  <div *ngIf="favoriteMovies.length === 0">You have no favourite movies.</div>
  <div style="display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;">
    <mat-card *ngFor="let movie of favoriteMovies; let i = index;" style="max-width: 300px; 
      box-shadow: 0 4px 8px 0 rgba(245, 240, 240, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img src="{{movie.imageURL}}" alt="{{movie.Name}}"
        style="width: 100%; height: 400px; object-fit: fill; border-radius: 10px;" />
      <mat-card-actions>
        <button mat-button color="primary" (click)="openGenre(movie)">
          Genre
        </button>
        <button mat-button color="primary" (click)="openDirector(movie)">
          Director
        </button>
        <button mat-button color="primary" (click)="openSypnosis(movie)">
          Details
        </button>
        <mat-icon (click)="deleteFavoriteMovie(movie._id)" *ngIf="isFavorite(movie)">favorite</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>